<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

    <targets>
      <target name="database" xsi:type="Database"
              connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UnicefVirtualWarehouse.UnicefContext;Integrated Security=SSPI;"
              dbProvider="System.Data.SqlClient"
              commandText="INSERT INTO dbo.Logs (Message, Level, CreatedOn) VALUES (@message, @level, @createdOn);">
        <parameter name="@message" layout="${message}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@createdOn" layout="${date}" />
      </target>
     <!-- 
        <target name="file" xsi:type="File" 
                fileName="${basedir}/App_Data/log.txt"
                archiveFileName="${basedir}/archives/log.{#####}.txt"
                archiveAboveSize="1048576"
                archiveNumbering="Rolling"
                maxArchiveFiles="5"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="iso-8859-2"/>
-->
    </targets>
    <rules>
        <logger name="*" minlevel="Warn" writeTo="database" />
    </rules>
</nlog>
