<html>
  <head>

    <style>

      body { font-family: helvetica; }

      #delim { background-color: grey }

      .results { border-width: 0px; border-spacing: 0px;}

      .results-subset { border-width: 0px; border-spacing: 0px;}

      .even { background-color: #dddddd;} 
      .odd { background-color: #eeeeee; }

      .subset-even { background-color: #c0c0c0c;} 
      .subset-odd { background-color: #cdcdcd; }

    </style>


    <title>Virtual warehouse</title>

  </head>
  <body>

    <center>

      <h1>Virtual warehouse</h1>


      <form action="">
	<input type="search" name="q">
	<input type="submit" value="Search">
      </form>


      {% if drugs %}

      <table class="results">

      {% for drug in drugs %}
      <tr class="{% cycle 'even' 'odd' %}">

	<td style="padding: 5px;" valign="top">{{ drug.name  }}</td>

	<td style="padding: 5px;">
	  <table class="results-subset">
	    {% for package in drug.packages.all %}
	    
	    <tr class="{% cycle 'subset-even' 'subset-odd' %}">
	      <td width="300">{{ package.size }}</td>
	      <td width="200"><b>{{ package.manufacturer }}</b></td>
	      <td>unit: {{ package.smallest_unit}}</td>
	      <td>price: {{ package.base_price}}</td>
	    </tr>

	  {% endfor %}

	  </table>

	</td>
      </tr>

      <tr>
	<td colspan="2" height="2" id="delim"></td>
      <tr>

      {% endfor %}

      </table>

      {% endif  %}

      <p />

      <form method="post" action="login/">

	{% csrf_token %}

	<input type="text" value="username">
	<input type="password" value="password">
	<input type="submit" value="login">

      </form>

    </center>

  </body>
</html>
